@model ProjetoModelo.MVC.ViewModels.CommodityViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommodityViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMaoObraID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMaoObraID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisciplinaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisciplinaID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommodityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
